@charset "UTF-8";

@font-face {
  font-family: Digital;
  src: url(../fonts/square_sans_serif_7.ttf);
}
@font-face {
  font-family: Digital2;
  src: url(../fonts/square_sans_serif_7.ttf);
}
@font-face {
  font-family: Digital3;
  src: url('../fonts/UAV-OSD-Sans-Mono.ttf');
}

@keyframes intro {
   0% {opacity:100%}
   55% {opacity:0%}
 100% {opacity:100%}
}
@keyframes intro2 {
   0% {opacity:100%; top:0px; height:5000px}
   25% {opacity:100%; top:0px; left:0px; height:5000px}
 99% {opacity:0%; top:0px; left:0px; height:5000px}
 100% {opacity:0%; top:9990px; height:0px}
}

body{
	animation-name: intro;
	animation-duration: .5s;
	
	font-family:Digital;
	
	/*background-image:url(images/mainbg3.png);
	background-size: 120%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
	background-position:0px 24%;
	*/
	
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 11%, rgba(255,181,192,1) 45%, rgba(0,212,255,1) 100%);
	margin:none;
	padding:none;
	overflow:hidden;
}
body::after{
	content: "";
	position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	animation-name: intro2;
	animation-duration: .5s;
	
	font-family:Digital;
	height:0px;
	opacity:0%;
	background-color:rgb(255,255,255);
	background-size: 0%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
	background-position:0px 24%;

}

h1{
	font-style:italic;
	margin-top:23px;
}
h2{
	font-family:Digital3;
}
h3{
	font-size:45pt;
	margin-bottom:0px;
	font-style:italic;
	margin-top:23px;
}
h4{
	font-style:italic;
	font-size:95pt;
	
	padding-top:0px;
	color:rgb(255,222,0);
	background-color:black;
}

h5{
	font-size:20pt;
	font-style:italic;
	margin-top:23px;
	color:rgb(255,222,0);
	background-color:black;
}

#link_bottom{
	color:rgb(255,222,0);
	text-decoration: underline;
}
#link_bottom:hover{
	color:rgb(255,0,0);
}

.title{
	background-color:rgb(255,255,255);
	width:1980px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#navbar{
		font-size:40pt;
		
		background-color:white;
		padding-left:17px;
		margin-top:-25px;
		
		height:140px;
		width:106%;
		margin-left:-25px;
		
	}
}

@-moz-document url-prefix() {
  	#navbar{
		font-size:40pt;
		
		background-color:white;
		padding-left:17px;
		margin-top:-32px;
		
		height:140px;
		width:106%;
		margin-left:-25px;
		
	}
}
@keyframes colory {
  0% {color: rgb(0,0,0);}
  50% {color: rgb(255,222,0);}
  100% {color: rgb(0,0,0);}
}
#maintitle:hover{
	font-family:Digital;
	animation-name: colory;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes counter {
   0% {color: rgb(0,0,0);}
  15% {color: rgb(0,0,0);}
  20% {color: rgb(255,255,255);}

  50% {color: rgb(50,170,255);}
 75% {color: rgb(255,222,0);}
}
@keyframes counter2 {
   0% {color: rgb(0,0,0);}
  15% {color: rgb(0,0,0);}
  20% {color: rgb(255,255,255);}
  
  50% {color: rgb(50,170,255);}
 75% {color: rgb(215,188,0);}
}
@keyframes counter3 {
   0% {color: rgb(0,0,0);}
  15% {color: rgb(0,0,0);}

  50% {color: #514700;}
 75% {color: #514700;}
}
@keyframes margin-bumper {
   0% {margin-top:50px;}
 100% {margin-top:0px;}
}

@keyframes selector {
   0% {color: rgb(255,222,0);}
 100% {color: rgb(255,0,0);}
}
@keyframes selector2 {
   0% {color: rgb(215,188,0);}
 100% {color: rgb(255,0,0);}
}

#filler{
	/*margin-top:260px;*/
	margin-top:28%;
	height:65px;
}
#type4{
	font-family:Digital2;
	margin-top:0px;
}
#type4:hover{
	animation-name: selector;
	animation-duration: .5s;
	animation-iteration-count: 1;
	
	color:red;
	font-family:Digital2;
	margin-top:0px;
}
#unfiller{
	animation-name: counter;
	animation-duration: 4s;
	animation-iteration-count: 1;
	
	height:126px;
	margin-top:-37px;
}
#filler2{
	animation-name: margin-bumper;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
	color: rgb(215,188,0);
	margin-top:0px;
	height:65px;
}
#type5{
	color: rgb(215,188,0);
	font-family:Digital2;
	margin-top:0px;
}
#type5:hover{
	animation-name: selector2;
	animation-duration: .5s;
	animation-iteration-count: 1;
	
	color:red;
	font-family:Digital2;
	margin-top:0px;
}
#unfiller2{
	animation-name: counter2;
	animation-duration: 4s;
	animation-iteration-count: 1;
	
	color: rgb(215,188,0);
	height:126px;
	margin-top:-37px;
}
#filler3{
	animation-name: margin-bumper;
	animation-duration: 1s;
	animation-iteration-count: 1;
	
	margin-top:0px;
	height:65px;
}
#type6{
	font-family:Digital2;
	margin-top:0px;
}
#type6:hover{
	animation-name: selector;
	animation-duration: .5s;
	animation-iteration-count: 1;
	
	color:red;
	font-family:Digital2;
	margin-top:0px;
}
#unfiller3{
	animation-name: counter;
	animation-duration: 4s;
	animation-iteration-count: 1;
	
	height:126px;
	margin-top:-37px;
}
#filler4{
	margin-top:0px;
	height:65px;
}
#type7{
	font-family:Digital2;
	margin-top:0px;
}
#type7:hover{
	animation-name: selector;
	animation-duration: .5s;
	animation-iteration-count: 1;
	
	color:red;
	font-family:Digital2;
	margin-top:0px;
}
#unfiller4{
	animation-name: counter;
	animation-duration: 4s;
	animation-iteration-count: 1;
	
	height:126px;
	margin-top:-37px;
}

.hideval{
	color:#514700;
}


 	#hyperbar{
		margin-top:0;
		width:106%;
		margin-left:-8px;
		overflow:scroll;
		overflow-x:hidden;
		height:1000px;
	}

.contentbar{
	min-height:30px;
	padding-left:37px;
	padding-right:250px;
	width:106%;
	margin-left:-25px;
	background-color:rgba(255,255,255,65%);
}

button{
	font-family:Digital;
	font-size:20pt;
	border:none;
	background-color:rgba(0,0,0,0);
	color:rgb(0,222,0);
}
#enterkey{
	display:inline;
}

.contentbarsolid{
	padding-left:37px;
	padding-right:250px;
	width:106%;
	margin-left:-25px;
	background-color:rgba(255,255,255,100%);
}
.contentbarsolid2{
	padding-left:37px;
	padding-right:250px;
	width:106%;
	margin-left:-25px;
	background-color:rgba(20,20,20,100%);
}
.contenttext{
	margin-top:-20px;
	padding-left:5px;
	width:85%;
	z-index:-999;
}
.contenttext2{
	margin-top:-20px;
	padding-left:5px;
	width:75%;
	z-index:-999;
	
	min-height:250px;
}
#image_2{
	margin-top:45px;
	margin-right:-40px;
	float:right;
	width:600px;
	height:400px;

}
#text_2{
	min-width: 250px;
}

#graphic{
	float:right;
	margin-top:-261px;
	width:500px;
}
#graphic2{
	overflow:hidden;
	margin-top:50px;
	margin-left:-180px;
	width:620px;
}
@keyframes motion {
  from {margin-left: 0px;}
  to {margin-left: -120px;}
}
@keyframes motion2 {
  from {margin-left: -120px;}
  to {margin-left: 0px;}
}
#graphicimage{
	animation-name: motion;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
#graphicimage2{
	animation-name: motion2;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
#cover{
	float:left;
	margin-top:-266px;
	width:500px;
	height:200px;
	background-color:rgb(255,255,255);
}
#cover2{
	float:left;
	margin-top:-266px;
	width:1100px;
	height:200px;
	background-color:rgb(255,255,255);
}

.fillercolor{
	height:50px;
	background-color:rgba(255,255,255,65%);
}
.fillercolorsolid{
	margin-top:-10px;
	height:50px;
	background-color:rgba(255,255,255,100%);
}
.fillercolorsolidlarge{
	height:500px;
	background-color:rgba(255,255,255,100%);
}

div{
	overflow:hidden;
}